header h2 {
    font-size: 3rem;
    line-height: 1;
    font-family: "Paralucent-Medium", sans-serif;

    background: linear-gradient(145deg, #fcf6ea 45%, #f7d08c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h2 span {
    font-family: "Paralucent-Medium", sans-serif;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 1080px) {
    .wrapper header h2 {
        font-size: 5rem;
    }
}