#navigation-button {
    position: fixed;
    z-index: 20;
    top: 1rem;
    width: 94%;
    left: 50%;
    transform: translateX(-50%);
    
    padding-block: 1.8rem;
    border-radius: 2rem;
    
    background: linear-gradient(
    130deg,
    rgba(48, 29, 0, 0.4),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3),
    rgba(36, 22, 0, 0.4)
);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    
    border: 1px solid rgba(248, 162, 32, 0.2);
box-shadow: 0 0 40px rgba(248, 162, 32, 0.1);


    animation: nav 5s ease-in-out backwards;
    transition: all 0.3s ease-in-out;
}


#navigation-button .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-button .content img {
    width: 5rem;
}

#navigation-button h3 {
    color: #fff;
    font-size: 1.5rem;
}

#navigation-button a {
    width: initial;
}

#navigation-button a button {
    font-size: 1.2rem;
    padding-block: 1rem;
    padding-inline: 1rem;
}

#navigation-button.desactive {
    display: none;
}

@media (min-width: 1080px) {
    nav#navigation-button {
        display: none;


        width: 27%;
        left: initial;
        right: 2%;
        transform: translate(0, 0);   
        transform: initial;
        padding-block: 2rem;
        bottom: initial;
        top: 3rem;
        animation: navDesktop 8s ease-in-out backwards;
    }

    nav#navigation-button img.logo {
        width: 13rem;
    }

    nav#navigation-button a button {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
    }
}

@keyframes nav {
    0% {
        display: none;
        transform: translate(-50%, -500%);
    }

    50% {
        display: inherit;
        transform: translate(-50%, -500%);
        /*  */
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes navDesktop {
    0% {
        display: none;
        transform: translate(0, -500%);
    }

    50% {
        display: inherit;
        transform: translate(0, -500%);
    }

    100% {
        transform: translate(0, 0);
    }
}