#plano {
    position: relative;
    overflow: hidden;

    background: var(--bg-black);

    padding-bottom: 2rem;
}

#plano img.logo {
    position: relative;
    z-index: 10;
    margin-bottom: 3rem;
    width: 15rem;
}

#plano img.fundo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;

    mask-image: linear-gradient(to bottom, #000 95%, transparent);
}

#plano .video img.bg {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 110%;
    object-fit: cover;

    mask-image: linear-gradient(to bottom, #000 95%, transparent);
}

#plano .video img.bg.desktop {
    display: none;
}

#plano .text {
    position: relative;
    z-index: 1;
}

#plano h2.title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #f1f1f1;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

#plano h2.title span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

#plano h2.plano {
    color: var(--color-text);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-family: var(--Adoha); 
    font-weight: 500;
}

#plano h2.plano {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#plano h2.plano img {
    width: 3rem;
    margin-top: -1.8rem;
}

#plano .topics {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 1rem;

    margin-bottom: 4rem;
}

#plano .topics p ion-icon {
    color: #000000;
    background: var(--gradient);
    border-radius: 50%;
    padding: .5rem;
    line-height: 0;
    font-size: 1.5rem;
    margin-bottom: -.7rem;
    margin-right: 1rem;
}

#plano .topics p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #bebebe;
    gap: .5rem;
}

#plano .topics p span {
    font-weight: 600;
    color: #d6d6d6;
}

#plano h5 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    text-align: left;

    margin-bottom: 4rem;
}

#plano h5 span {
    font-weight: 500;
}

#plano .price {
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(130deg, #71440022, #00000046, #0000002e, #76470021);
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 0 30px #f8a22026;

    overflow: hidden;
}

#plano .price strong {
    position: absolute;
    color: #fff;
    top: 45%;
    left: 13%;
    font-size: 1.6rem;
    color: #764b09;
    background: #fff;
    padding: .3rem;
    border-radius: .3rem;
}

#plano .price h2 {
    color: #fff;
    margin-bottom: .5rem;
    font-size: 2.3rem;
}

#plano .price h6 {
    padding: 1rem .5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 30px #f8a22026;
    color: #000000;
    font-size: 1rem;

    position: absolute;
    width: 60%;
    top: -6%;
    left: 50%;
    transform: translate(-50%, 0);
}

#plano .price p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}

ul li:last-child {
    padding-bottom: 50px !important;
}

#plano .price p span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

#plano .price p small {
    font-size: 1.4rem;
    text-decoration: line-through;
}

#plano .price h3 {
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#plano .price h3 span {
    color: #fff;
 
}

#plano .price h4 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
}

#plano .custom-shape-divider-top-1738825301 .shape-fill {
    fill: #000;
}

#plano a button {
    margin-top: -4rem;
}

section#plano::before {
        content: '';
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #000000, transparent 15%);
        z-index: 1;
    } 

    #plano img.fundo.desktop {
        display: none;
    }

    #plano img.bg.desktop {
        display: none;
    }

#plano img.faixa.desktop {
    display: none;
}

#plano img.faixa {
  position:absolute;
  width:300%;
  left:0; top:0;
  z-index:10;
  pointer-events:none;
  will-change:transform;
  transform-origin: 40% 50%;
  animation:faixa-diagonal 20s linear infinite alternate;
  transform: rotate(-50deg) translateX(-5%);
}

#plano img.faixa.dois {
    transform: rotate(-50deg) translateX(-18.5%);
}

#plano img.faixa.mobile {
    width: 500%;
    transform-origin: 3% 50%;
    transform: rotate(-50deg) translateX(-18.5%);
}


#plano img.faixa.dois {
    display: none;
}

@media (min-width: 650px) {
    section#plano .video img.bg {
        width: 50%;
    }
}

@media (min-width: 1080px) {
    section#plano {
        background: var(--bg-black);
        height: 70vh;
    }

    section#plano img.faixa.desktop {
        display: inherit;
    }

    section#plano img.faixa.mobile {
        display: none;
    }

    section#plano img.faixa.dois {
        width: 250%;
        display: inherit;
        transform-origin: 3% 50%;
    }

    section#plano img.logo {
        margin-bottom: 0;
    }

    section#plano img.fundo.mobile {
        display: none;
    }

    section#plano img.fundo.desktop {
        display: inherit;
        opacity: .8;
    }

    section#plano .video img.bg.mobile {
        display: none;
    }

    section#plano .video img.bg.desktop {
        display: inherit;
    }

    section#plano .video img.bg.desktop {
        display: inherit;
        left: initial;
        right: 0;
        left: 0;
        width: 100%;
        transform: initial;

        mask-image: linear-gradient(to bottom, #000 10%, #00000006);
    }

    section#plano .price {
        padding: initial;
        backdrop-filter: initial;
        -webkit-backdrop-filter: initial;
        background: initial;
        border-radius: initial;
        border: initial;
        box-shadow: initial;

        text-align: center;

        overflow: inherit;
    }

    section#plano .price strong {
        top: 35%;
    }
    
    section#plano .video img.bg.desktop {
        border-radius: 3rem;
        width: 25%;
        right: 0;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        mask-image: linear-gradient(to bottom, #000 60%, transparent);
    }

    section#plano .text {
        display: flex;
        flex-direction: row;
        align-items: start;
        text-align: left;
        gap: 4rem;

        overflow: hidden;

        padding: 8rem;
        background: linear-gradient(130deg, #2b1a00, #000000, #000000, #2b1a00);
        border-radius: 3rem;
        border: 2px solid #222222;
        box-shadow: 0 0 30px #0e080026;

        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }


    section#plano h2.title {
        font-size: 1.6rem;
        margin-top: 0;
    }

    section#plano .price h6 {
        top: -4%;
        font-size: 1.6rem;
        width: 35%;
    }

    section#plano h2.plano {
        font-size: 5rem;
    }

    section#plano h2.plano {
        gap: 2rem;
    }
    
    section#plano h2.plano img {
        width: 5rem;
    }

    section#plano .topics {
        gap: 1.5rem;
        margin-bottom: 0;
    }

    section#plano .topics p ion-icon {
        margin-bottom: -1rem;
        font-size: 1.8rem;
    }

    section#plano .price {
        width: 100%;
        margin-bottom: 2rem;
    }

    section#plano .price p {
        font-size: 2rem;
    }

    section#plano .price p small {
        font-size: 2rem;
    }
    
    section#plano .price h3 {
        font-size: 7rem;
    }
    
    section#plano .price h4 {
        font-size: 1.8rem;
    }

    section#plano a {
        width: 100%;
    }

    section#plano a button {
        width: 100%;
        margin-top: 3rem;
    }
}